.italic { font-style: italic; }
.text-muted { color: #aaa; }

.radio label+label {
  padding-left: 40px;
}

[data-wumpus-instance] .game-container {
  position: relative;
  /*border: solid 1px black;*/
}

[data-wumpus-instance] [data-wumpus-agent],
[data-wumpus-instance] [data-wumpus-room] {
  position: absolute;
  border: solid black 1px;
  font-size: 10px;
}
