.radio label+label {
  padding-left: 40px;
}

[data-wumpus-instance] {
  position: relative;
  border: solid 1px black;
}

[data-wumpus-instance] [data-wumpus-room] {
  position: absolute;
  border: solid black 1px;
}
