<h2>Configuration</h2>

<form class="form-horizontal" role="form">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Environment</h3></div>
        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-2 control-label">Chance</label>

                <div class="col-sm-3 radio form-control-static">
                    <label><input type="radio" value="deterministic" data-ng-model="config.game.chance" disabled>Deterministic</label>
                    <label><input type="radio" value="stochastic" data-ng-model="config.game.chance" disabled>Stochastic</label>
                </div>
                <div class="col-sm-7 form-control-static">does my wheel slip because the dirt isn't solid (ice physics)</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Grain</label>

                <div class="col-sm-3 radio form-control-static">
                    <label><input type="radio" value="discrete" data-ng-model="config.game.grain">Discrete</label>
                    <label><input type="radio" value="continuous" data-ng-model="config.game.grain">Continuous</label>
                </div>
                <div class="col-sm-7 form-control-static">digital vs analog; move in chunks vs move via velocity (w/ noop)</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Observable</label>

                <div class="col-sm-3 radio form-control-static">
                    <label><input type="radio" value="fully" data-ng-model="config.game.observable">Fully</label>
                    <label><input type="radio" value="partially" data-ng-model="config.game.observable">Partially</label>
                </div>
                <div class="col-sm-7 form-control-static">fog of war; you remember where you were with some probability</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Timing</label>

                <div class="col-sm-3 radio form-control-static">
                    <label><input type="radio" value="static" data-ng-model="config.game.timing">Static</label>
                    <label><input type="radio" value="dynamic" data-ng-model="config.game.timing">Dynamic</label>
                </div>
                <div class="col-sm-7 form-control-static">the world moves without you; or only updates when you tell it to</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">A Priori</label>

                <div class="col-sm-3 radio form-control-static">
                    <label><input type="radio" value="known" data-ng-model="config.game.apriori" disabled>Known</label>
                    <label><input type="radio" value="unknown" data-ng-model="config.game.apriori" disabled>Unknown</label>
                </div>
                <div class="col-sm-7 form-control-static">how much do you know about the world; you need to learn everything about HOW the
                    world
                    works
                </div>
            </div>
            <div class="form-group text-muted italic">
                <label class="col-sm-2 control-label">Agents</label>

                <div class="col-sm-3 radio form-control-static">
                    <label><input type="radio" checked disabled>Single</label>
                    <label><input type="radio" disabled><strike>Multi</strike></label>
                </div>
                <div class="col-sm-7 form-control-static">are you alone, or do you have to battle/coop with others (no intentions to
                    implement
                    this
                    at this time)
                </div>
            </div>
            <div class="form-group text-muted italic">
                <label class="col-sm-2 control-label">Statefulness</label>

                <div class="col-sm-3 radio form-control-static">
                    <label><input type="radio" disabled><strike>Episodic</strike></label>
                    <label><input type="radio" checked disabled>Sequential</label>
                </div>
                <div class="col-sm-7 form-control-static">are decision related? sorting marbles vs solving a maze (wumpus is sequential by
                    definition)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Room Count</label>

                <div class="col-sm-3">
                    <input class="form-control" type="number" min="4" data-ng-model="config.game.roomCount"/>
                </div>
                <div class="col-sm-7 form-control-static"></div>
            </div>

        </div>
    </div>

    <div class="panel panel-default" data-ng-init="showAdvancedConfig = false">
        <div class="panel-heading" data-ng-click="showAdvancedConfig = !showAdvancedConfig"><h3>
            <span class="glyphicon" data-ng-class="{
                    'glyphicon-chevron-down': showAdvancedConfig,
                    'glyphicon-chevron-up': !showAdvancedConfig
                }"></span>
            Advanced
        </h3></div>
        <div class="panel-body" data-ng-show="showAdvancedConfig">

            <div class="form-group has-feedback"
                 data-ng-class="{'has-success': config.agent.radius, 'has-error': !config.agent.radius}">
                <label class="col-sm-2 control-label">Agent Radius</label>

                <div class="col-sm-3">
                    <input class="form-control" type="number" min="6" step="4" data-ng-model="config.agent.radius"/>
                    <span class="glyphicon form-control-feedback"
                          data-ng-class="{'glyphicon-ok': config.agent.radius, 'glyphicon-remove': !config.agent.radius}"></span>
                </div>
                <div class="col-sm-7 form-control-static">How large is the agent and wumpus? (Note: shouldn't be larger than the room)</div>
            </div>
            <div class="form-group has-feedback"
                 data-ng-class="{'has-success': config.room.radius, 'has-error': !config.room.radius}">
                <label class="col-sm-2 control-label">Room Radius</label>

                <div class="col-sm-3">
                    <input class="form-control" type="number" min="12" step="8" data-ng-model="config.room.radius"/>
                    <span class="glyphicon form-control-feedback"
                          data-ng-class="{'glyphicon-ok': config.room.radius, 'glyphicon-remove': !config.room.radius}"></span>
                </div>
                <div class="col-sm-7 form-control-static">How large are the rooms?</div>
            </div>
            <div class="form-group has-feedback"
                 data-ng-class="{'has-success': config.pit.probability, 'has-error': !config.pit.probability}">
                <label class="col-sm-2 control-label">Pit Probability</label>

                <div class="col-sm-3">
                    <input class="form-control" type="number" max="1" min="0.1" step="0.1" data-ng-model="config.pit.probability"/>
                    <span class="glyphicon form-control-feedback"
                          data-ng-class="{'glyphicon-ok': config.pit.probability, 'glyphicon-remove': !config.pit.probability}"></span>
                </div>
                <div class="col-sm-7 form-control-static">Once the objects have been placed (exit/wumpus/gold), how likely is it for pits to
                    appear
                </div>
            </div>
            <div class="form-group has-feedback"
                 data-ng-class="{'has-success': config.grain.continuous.branches, 'has-error': !config.grain.continuous.branches}">
                <label class="col-sm-2 control-label">Branching Factor (continuous)</label>

                <div class="col-sm-3">
                    <input class="form-control" type="number" max="12" min="2" data-ng-model="config.grain.continuous.branches"
                           data-ng-disabled="config.game.grain !== 'continuous'"/>
                    <span class="glyphicon form-control-feedback"
                          data-ng-class="{'glyphicon-ok': config.grain.continuous.branches, 'glyphicon-remove': !config.grain.continuous.branches}"></span>
                </div>
                <div class="col-sm-7 form-control-static">When the game is in continuous mode, how many branching rooms should the game
                    generate.
                </div>
            </div>

        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-primary" data-ng-click="generateGame()">New Game</button>
        </div>
    </div>
</form>